@model IEnumerable<Entities.CursoUsuario>
@using GridMvc.Html
@{
    ViewBag.Title = "Informe de cursos";
}
@using MvcCustomHelpers.Razor
@Styles.Render("~/Content/GridMVC")
@Styles.Render("~/Content/dataTables")
<style>
    .grid-mvc {
        width: 95%;
    }
</style>
<div class="box box-body">
    @using (Html.BeginForm("GenerarReporteCursosUsuarios", "Curso", FormMethod.Get, new { id = "GenerarReporteCursosUsuariosForm" }))
    {
        <div class="tituloVista row">
            <div class="col-md-12"><i class="fa fa-map-marker fa-fw"></i>@ViewBag.Title</div>
        </div>
        <div class="row">
            <div class="filtersContainer" style="">
                <div class="box box-warning box-solid box-filter">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filtros</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                        <div class="col-lg-3 col-md-6">
                            <div class="row">
                                <div class="col-md-4">Cursos:</div>
                                <div class="col-md-8">
                                    @DropDownListHelper.DropDownCursosDeEmpresa(Html, false)
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12">
                @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.Usuario.NombreCompleto).Titled("Usuario");
           columns.Add(c => c.EstadoCurso.Nombre).Titled("Estado");
           columns.Add(c => c.Nota).Titled("Nota");
       }).Sortable(false).WithMultipleFilters()
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-12 text-center">
                <button id="btnSubmit"
                        class="btn btn-success"
                        type="submit"
                        formaction="/Curso/GenerarReporteCursosUsuarios"
                        formtarget="_blank"
                        value="1">
                    <span class="fa fa-file-archive-o"></span> Generar Reporte
                </button>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/Scripts/GridMVC")
    @Scripts.Render("~/Scripts/dataTables")
}