<!DOCTYPE html>
<html lang="en">
@model PresentacionGrupoFournier.Models.UsuarioViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Grupo Fortius</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="" />
    <meta content="" name="SempaIT Desarrllo de Software" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/admin/pages/css/login-soft.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="../../assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-md login">
    @using (Html.BeginForm("Login", "Ingreso", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "frmLogin", @class = "form-horizontal", role = "form" }))
    {
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a>
                <span style="color: white; font-size: 30px"></span>
                <img src="/assets/fortius/logo_apredizaje.png" alt="" />
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="menu-toggler sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form">
                <h3 class="form-title">Ingresa a nuestro</h3>
                <h3 class="form-title"><strong>CAMPUS DEL CONOCIMIENTO</strong></h3>
                <div id="divAlertLogin" class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span>Ingresa usuario o contraseña validos</span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label visible-ie8 visible-ie9" })
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control placeholder-no-fix", placeholder = "Ingrese su nombre de usuario" } })
                        
                        @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label visible-ie8 visible-ie9" })
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", placeholder = "Ingrese su contraseña" })
                        
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*@{ Html.RenderPartial("_AlertsHandlerError"); }*@
                <div class="form-actions">
                    <button id="btnIniciarSesion" type="submit" class="btn btn-primary btn-block"> Iniciar Sesión </button>
                </div>
                @*<a href="/Ingreso/OlvideMiPassword">Olvide mi contraseña</a><br>*@
            </form>
            <!-- END LOGIN FORM -->
        </div>
        <!-- END LOGIN -->
        <!-- BEGIN COPYRIGHT 
        <div class="copyright">
            2016 &copy; Capacitacion Online | by <a style="color: white" href="http://www.sempait.com.ar" target="_blank">SempaIT</a>
        </div>-->
        <div class="logo">
            <a>
                <span style="color: white; font-size: 30px"></span>
                <img src="~/Imagenes/header-logo-fortius.png" alt="" />
            </a>
        </div>
    }
        <!-- END COPYRIGHT -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="../../assets/global/plugins/respond.min.js"></script>
        <script src="../../assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
        <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
        <script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
        <script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
        <script src="../../assets/admin/pages/scripts/login-soft.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                Login.init();
                Demo.init();
                // init background slide images
                $.backstretch([
                 "../../assets/fortius/1.jpg",
                 "../../assets/fortius/2.jpg",
                 "../../assets/fortius/3.jpg",
                 "../../assets/fortius/4.jpg",
                ], {
                    fade: 1000,
                    duration: 8000
                }
             );
            });
        </script>
        <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
